<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Old Dragon RPG{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Old Dragon RPG</h1>
        <nav>
            <a href="{{ url_for('criar_personagem') }}">Criar Personagem</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Old Dragon RPG</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
