{% extends "base.html" %}

{% block title %}Criação de Personagem{% endblock %}

{% block content %}
    {% if not raca %}
    <h3>Escolher Raça</h3>

        <form method="post">
            <label>Selecione uma Raça:</label>
            <select id="estilo" name="raca">
                {% for chave in racas %}
                    <option value="{{ chave }}">{{ chave|capitalize }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit">OK</button>
        </form>
    {% endif %}
{% endblock %}